<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>About Gameboxd</h1>
                <p class="lead">Gameboxd is a proof-of-concept social media website enabling users to follow and rate video games. It also serves as a graduate project to fulfill the requirements for Master of Computer Science at Appalachian State University.</p>
            </div>
        </main>

        <!-- Currently needs to be added on all full pages in views -->
        <script>
            let logoDiv = document.getElementById('logoHandle');
            let homeDiv = document.getElementById('homeHandle');
            let aboutDiv = document.getElementById('aboutHandle');
            let userDiv = document.getElementById('userHandle');

            window.onload = (e) => {
                <% if(uid != -1) { %>
                    logoDiv.setAttribute("href", "/?token=" + "<%- token %>");
                    homeDiv.setAttribute("href", "/?token=" + "<%- token %>");
                    aboutDiv.setAttribute("href", "/about?token=" + "<%- token %>");
                    userDiv.setAttribute("href", "/profile?token=" + "<%- token %>");

                    userDiv.innerHTML = "Profile";
                <% } else { %>
                    userDiv.setAttribute("href", "/signin");
                    userDiv.innerHTML = "Sign In";
                <% } %>
            }
        </script>
    </body>
</html>