<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <script>
            <%- console.log(data) %>
        </script>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="jumbotron bg-primary text-white">
              <h1><%- data.name %></h1>
              <p class="lead"><%- data.summary %></p>
              <img src="<%- data.cover[0].url %>" width="<%- data.cover[0].width %>" height="<%- data.cover[0].height %>">
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <span>Ratings: </span>
                    <% for(let rating of data.ratings) { %>
                        <span><%- rating.category %></span>
                    <% } %>
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <span>Genres: </span>
                    <% for(let genre of data.genres) { %>
                        <span><%- genre.name %></span>
                    <% } %>
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <span>Platforms: </span>
                    <% for(let platform of data.platforms) { %>
                        <span><%- platform.name %></span>
                    <% } %>
                  </p>
                </div>
              </div>
              <p>
                <span>Release Date: <%- data.release_date %></span>
              </p>
            </div>
          </main>
    </body>
</html>