<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
            <link rel="stylesheet" href="/public/styles/homepage.css">
        </header>

        <main>
            <div class="jumbotron bg-primary text-white">
              <h1><%- data.name %></h1>
              <p class="lead"><%- data.summary %></p>
              <div class="gallery-home">
                <div class="gallery-row">
                    <div class="gallery-item" style="background-image: url(https://<%-data.cover[0].url%>); background-repeat: no-repeat;"></div>
                </div>
              </div>
              <!-- <img src="<%- data.cover[0].url %>" width="<%- data.cover[0].width %>" height="<%- data.cover[0].height %>"> -->
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <span>Ratings: </span>
                    <% for(let rating of data.ratings) { %>
                        <span><%- rating.category %></span>
                    <% } %>
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <span>Genres: </span>
                    <% for(let genre of data.genres) { %>
                        <span><%- genre.name %></span>
                    <% } %>
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <span>Platforms: </span>
                    <% for(let platform of data.platforms) { %>
                        <span><%- platform.name %></span>
                    <% } %>
                  </p>
                </div>
              </div>
              <p>
                <span>Release Date: <%- data.release_date %></span>
              </p>
            </div>
          </main>

          <!-- Currently needs to be added on all full pages in views -->
          <script>
            let logoDiv = document.getElementById('logoHandle');
            let homeDiv = document.getElementById('homeHandle');
            let aboutDiv = document.getElementById('aboutHandle');
            let userDiv = document.getElementById('userHandle');

            window.onload = (e) => {
                <% if(uid != -1) { %>
                    logoDiv.setAttribute("href", "/?token=" + "<%- token %>");
                    homeDiv.setAttribute("href", "/?token=" + "<%- token %>");
                    aboutDiv.setAttribute("href", "/about?token=" + "<%- token %>");
                    userDiv.setAttribute("href", "/profile?token=" + "<%- token %>");

                    userDiv.innerHTML = "Profile";
                <% } else { %>
                    userDiv.setAttribute("href", "/signin");
                    userDiv.innerHTML = "Sign In";
                <% } %>
            }
        </script>
    </body>
</html>