<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
            <link rel="stylesheet" href="/public/styles/homepage.css">
        </header>
        <div class="jumbotron">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><%- data.name %></a>
            </div>
          </nav>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="gallery-item img-fluid mt-3" style="background-image: url(https://<%-data.cover[0].url%>); background-repeat: no-repeat;"></div>
              </div>
              <div class="col-md-8">
                <h2 class="mt-3">Game Information</h2>
                <ul class="list-group">
                  <li class="list-group-item">Release Date: <%- data.release_date %></li>

                  <li class="list-group-item">Ratings: <%= data.ratings.map(function(rating) { return rating.category }).join(', ') %></li>
                  <li class="list-group-item">Genres: <%= data.genres.map(function(genre) { return genre.name }).join(', ') %></li>
                  <li class="list-group-item">Platforms: <%= data.platforms.map(function(platform) { return platform.name }).join(', ') %></li>
                </ul>
                
                <h2 class="mt-3">Game Description</h2>
                <p><%- data.summary %></p>
                
                <form action="/addReview" method="POST">
                  <div class="form-group">
                    <label for="review">Leave a review:</label>
                    <textarea class="form-control" id="review" name="review" rows="5"></textarea>
                    <input type="hidden" name="gameId" value="<%- gameId %>" />
                    <input type="hidden" name="uid" value="<%- uid %>" />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <h2 class="mt-3">Reviews</h2>
                <div id="reviews"></div>
                <script>
                  let reviews = axios.get('/getReviews?gameId=<%- gameId %>')
                    .then(function (response) {
                      let reviews = response.data;
                      let reviewDiv = document.getElementById('reviews');
                      reviews.forEach(function(review) {
                        let reviewItem = document.createElement('li');
                        reviewItem.classList.add('list-group-item');
                        reviewItem.innerHTML = review.review;
                        reviewDiv.appendChild(reviewItem);
                      });
                    })
                    .catch(function (error) {
                      console.log(error);
                    }
                </script>
              </div>
            </div>
          </div>
        </div>

        <!-- Currently needs to be added on all full pages in views -->
        <script>
          let logoDiv = document.getElementById('logoHandle');
          let homeDiv = document.getElementById('homeHandle');
          let aboutDiv = document.getElementById('aboutHandle');
          let userDiv = document.getElementById('userHandle');
          let searchDiv = document.getElementById('formHandle');

          window.onload = (e) => {
              <% if(uid != -1) { %>
                  logoDiv.setAttribute("href", "/?token=" + "<%- token %>");
                  homeDiv.setAttribute("href", "/?token=" + "<%- token %>");
                  aboutDiv.setAttribute("href", "/about?token=" + "<%- token %>");
                  userDiv.setAttribute("href", "/profile?token=" + "<%- token %>");
                  searchDiv.setAttribute("action", "/search?token=" + "<%- token %>");

                  userDiv.innerHTML = "Profile";
              <% } else { %>
                  userDiv.setAttribute("href", "/signin");
                  userDiv.innerHTML = "Sign In";
              <% } %>
          }
      </script>
    </body>
</html>